.list {
    flex:5.5;
}

.listWrapper {
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.map{
    width: 500px;
    height: 300px;
    background-color: red;
}

.locations{
    width: 500px;
}