.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarOnline {
    width:13px;
    border-radius:50%;
    height:13px;
    background-color:rgb(253, 192, 80);
    position:absolute;
    top:-2px;
    right:0;
    border: 2px solid black;
}

.rightbarUsername {
    font-weight:400;
}