.topbarContainer{
    text-decoration:none;
    height: 50px;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbarLink{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 20px;
    cursor: pointer;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.topbarLeft{
    flex: 3;
}

.topbarCenter{
    flex: 5;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
